@import url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Gilda+Display:400&display=swap);





body {
  font-family: Roboto;
}
.display-1 {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}
.display-1 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-2 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
}
.display-2 > .mbr-iconfont {
  font-size: 1.44rem;
}
.display-4 {
  font-family: 'Gilda Display', serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}
.display-5 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-7 {
  font-family: 'Gilda Display', serif;
  font-size: 0.9rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.44rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 0.72rem;
    font-size: calc( 0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-sm {
  padding: 5px 10px;
  border-radius: 0px;
}
.btn-md {
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-lg {
  padding: 10px 15px;
  border-radius: 0px;
}
.bg-primary {
  background-color: #cc9459 !important;
}
.bg-success {
  background-color: #92bda3 !important;
}
.bg-info {
  background-color: #709faf !important;
}
.bg-warning {
  background-color: #b7b6b6 !important;
}
.bg-danger {
  background-color: #e26c5a !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #cc9459 !important;
  border-color: #cc9459 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #a66e33 !important;
  border-color: #a66e33 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a66e33 !important;
  border-color: #a66e33 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #709faf !important;
  border-color: #709faf !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #4c7887 !important;
  border-color: #4c7887 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4c7887 !important;
  border-color: #4c7887 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #62a07b !important;
  border-color: #62a07b !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #62a07b !important;
  border-color: #62a07b !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #918f8f !important;
  border-color: #918f8f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #918f8f !important;
  border-color: #918f8f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #cc3a24 !important;
  border-color: #cc3a24 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #cc3a24 !important;
  border-color: #cc3a24 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none !important;
  border-color: #92612d !important;
  color: #92612d !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #cc9459 !important;
  border-color: #cc9459 !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #cc9459 !important;
  border-color: #cc9459 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none !important;
  border-color: #426977 !important;
  color: #426977 !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #709faf !important;
  border-color: #709faf !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #709faf !important;
  border-color: #709faf !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none !important;
  border-color: #58916f !important;
  color: #58916f !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none !important;
  border-color: #848383 !important;
  color: #848383 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff !important;
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none !important;
  border-color: #b63420 !important;
  color: #b63420 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #cc9459 !important;
}
.text-secondary {
  color: #000000 !important;
}
.text-success {
  color: #92bda3 !important;
}
.text-info {
  color: #709faf !important;
}
.text-warning {
  color: #b7b6b6 !important;
}
.text-danger {
  color: #e26c5a !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #92612d !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #58916f !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #426977 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #848383 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b63420 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #709faf;
}
.alert-warning {
  background-color: #b7b6b6;
}
.alert-danger {
  background-color: #e26c5a;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #cc9459;
  border-color: #cc9459;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #cc9459;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fcf9f5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e1ede6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c2d6dd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f6f6f6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Gilda Display', serif;
  font-size: 0.9rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.44rem;
}
blockquote {
  border-color: #cc9459;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #cc9459;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #cc9459;
}
.up-z-index {
  z-index: 1000 !important;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #cc9459;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #cc9459;
  border-bottom-color: #cc9459;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #cc9459 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #000000 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23cc9459' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rmc17VkjTf .navbar {
  padding: 0.5rem 0;
  background: #fcfcfc;
  transition: none;
  min-height: 50px;
}
.cid-rmc17VkjTf .navbar-fixed-top {
  padding-top: 0;
}
.cid-rmc17VkjTf .navbar-collapse {
  -ms-flex-preferred-size: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
.cid-rmc17VkjTf .menu-logo {
  margin: 0 auto !important;
}
.cid-rmc17VkjTf .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding 0.2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rmc17VkjTf .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: 0.3rem 0;
}
.cid-rmc17VkjTf .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rmc17VkjTf .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rmc17VkjTf .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rmc17VkjTf .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rmc17VkjTf .menu-content-top {
  background: #000000;
  max-width: 100%;
  display: none;
  -webkit-justify-content: left;
  justify-content: left;
  padding: 0 2rem;
  margin: auto;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
.cid-rmc17VkjTf .dropdown-item {
  padding: 0;
}
.cid-rmc17VkjTf .dropdown-item,
.cid-rmc17VkjTf .nav-link,
.cid-rmc17VkjTf .brand-name {
  font-style: normal;
}
.cid-rmc17VkjTf .dropdown-item:hover,
.cid-rmc17VkjTf .nav-link:hover,
.cid-rmc17VkjTf .brand-name:hover {
  color: #cc9459 !important;
}
.cid-rmc17VkjTf .dropdown-menu {
  background-color: #000000;
}
.cid-rmc17VkjTf .dropdown-item:active {
  background-color: #000000;
}
.cid-rmc17VkjTf .menu-bottom {
  margin: auto;
  width: 100%;
  display: -webkit-flex;
  padding: 0rem 2rem;
  position: relative;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rmc17VkjTf .navbar-dropdown.bg-color.transparent.opened {
  background: #fcfcfc;
}
.cid-rmc17VkjTf .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-rmc17VkjTf .nav-item a {
  padding: 0.5rem 0 !important;
  margin: 0 0.5rem !important;
}
.cid-rmc17VkjTf .dropdown-item:before {
  font-family: MobiriseIcons !important;
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rmc17VkjTf .content-text {
  margin-bottom: 0;
}
.cid-rmc17VkjTf .navbar-nav {
  position: relative;
  min-height: 90px;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-rmc17VkjTf .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #cc9459;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-rmc17VkjTf .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-rmc17VkjTf .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-rmc17VkjTf .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-rmc17VkjTf .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-rmc17VkjTf .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-rmc17VkjTf .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-rmc17VkjTf .navbar-buttons.mbr-section-btn {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rmc17VkjTf .nav-dropdown .link {
  font-weight: 400;
}
.cid-rmc17VkjTf .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-rmc17VkjTf .content-right-side {
  text-align: center;
}
.cid-rmc17VkjTf .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-rmc17VkjTf .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-rmc17VkjTf .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
}
.cid-rmc17VkjTf .info-widget {
  padding-left: 2rem;
  padding-right: 3rem;
  margin: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rmc17VkjTf .menu-content-right {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rmc17VkjTf .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-rmc17VkjTf .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-rmc17VkjTf .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-rmc17VkjTf .widget-content .widget-title {
  font-weight: 400;
  margin-bottom: 3px;
}
.cid-rmc17VkjTf .widget-content .widget-text {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .cid-rmc17VkjTf .navbar .menu-content-top {
    display: flex;
    min-height: 60px;
    height: 100%;
  }
  .cid-rmc17VkjTf .content-right-side {
    text-align: right;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rmc17VkjTf .menu-content-top {
    border-bottom: 0px solid #e0e0e0;
  }
  .cid-rmc17VkjTf .navbar {
    display: block;
    padding: 0;
  }
  .cid-rmc17VkjTf .navbar .menu-logo {
    margin: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rmc17VkjTf .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 101;
    min-height: 49px;
  }
  .cid-rmc17VkjTf .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
    -webkit-transform: scale(1, 1);
  }
  .cid-rmc17VkjTf .navbar-toggler {
    display: none;
  }
  .cid-rmc17VkjTf .navbar-collapse {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}
.cid-rmc17VkjTf .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-rmc17VkjTf .btn {
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rmc17VkjTf .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-rmc17VkjTf .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-rmc17VkjTf .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-rmc17VkjTf .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rmc17VkjTf .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rmc17VkjTf .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}
.cid-rmc17VkjTf .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rmc17VkjTf .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rmc17VkjTf .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-rmc17VkjTf .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rmc17VkjTf .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rmc17VkjTf .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rmc17VkjTf .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rmc17VkjTf .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 1000;
}
.cid-rmc17VkjTf .navbar.navbar-short {
  min-height: 50px;
  transition: all 0.2s;
}
.cid-rmc17VkjTf .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rmc17VkjTf .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rmc17VkjTf .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rmc17VkjTf .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rmc17VkjTf button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all 0.2s;
  margin: 1rem 0.8rem;
  -webkit-align-self: start;
  align-self: start;
}
.cid-rmc17VkjTf button.navbar-toggler:focus {
  outline: none;
}
.cid-rmc17VkjTf button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-rmc17VkjTf button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-rmc17VkjTf button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-rmc17VkjTf button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-rmc17VkjTf button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-rmc17VkjTf nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-rmc17VkjTf nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-rmc17VkjTf nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-rmc17VkjTf nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-rmc17VkjTf .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rmc17VkjTf .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rmc17VkjTf .collapsed .btn {
  display: flex;
}
.cid-rmc17VkjTf .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rmc17VkjTf .collapsed .navbar-collapse.collapsing,
.cid-rmc17VkjTf .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rmc17VkjTf .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rmc17VkjTf .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rmc17VkjTf .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rmc17VkjTf .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rmc17VkjTf .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rmc17VkjTf .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.cid-rmc17VkjTf .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rmc17VkjTf .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-rmc17VkjTf .collapsed button.navbar-toggler {
  display: block;
}
.cid-rmc17VkjTf .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: 0.5rem;
}
.cid-rmc17VkjTf .collapsed .navbar-toggleable-sm {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rmc17VkjTf .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: 0.5s;
  transition-property: opacity, padding, height;
}
.cid-rmc17VkjTf .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rmc17VkjTf .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rmc17VkjTf .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
.cid-rmc17VkjTf .collapsed .menu-bottom {
  -webkit-justify-content: center;
  justify-content: center;
}
@media (min-width: 991px) {
  .cid-rmc17VkjTf .dropdown-item {
    color: white !important;
    border-bottom: 0px solid #a2784f;
  }
  .cid-rmc17VkjTf .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #a2784f;
  }
}
@media (max-width: 991px) {
  .cid-rmc17VkjTf .dropdown-menu {
    margin-top: 0px;
    background-color: transparent;
    color: black !important;
  }
  .cid-rmc17VkjTf .menu-bottom {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-rmc17VkjTf .navbar-collapse {
    padding-bottom: 1rem;
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rmc17VkjTf .navbar-collapse.collapsing,
  .cid-rmc17VkjTf .navbar-collapse.show {
    display: block !important;
  }
  .cid-rmc17VkjTf .navbar-collapse.collapsing .navbar-nav,
  .cid-rmc17VkjTf .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rmc17VkjTf .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rmc17VkjTf .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rmc17VkjTf .navbar-collapse.collapsing .navbar-buttons,
  .cid-rmc17VkjTf .navbar-collapse.show .navbar-buttons {
    display: -webkit-flex;
    justify-content: center;
    text-align: center;
    -webkit-justify-content: center;
  }
  .cid-rmc17VkjTf .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rmc17VkjTf .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rmc17VkjTf img {
    height: 3.8rem !important;
  }
  .cid-rmc17VkjTf .btn {
    display: flex;
  }
  .cid-rmc17VkjTf button.navbar-toggler {
    display: block;
  }
  .cid-rmc17VkjTf .navbar-brand {
    margin-left: 1rem !important;
    margin-top: 0.5rem;
  }
  .cid-rmc17VkjTf .navbar-toggleable-sm {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rmc17VkjTf .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: 0.5s;
    transition-property: opacity, padding, height;
  }
  .cid-rmc17VkjTf .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rmc17VkjTf .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rmc17VkjTf .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
  .cid-rmc17VkjTf .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-rmc17VkjTf .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-rmc17VkjTf .navbar-dropdown {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-rmc17VkjTf .nav-link:focus {
  outline: none;
}
.cid-rmc17VkjTf .navbar-toggler {
  position: relative;
}
.cid-rmc17VkjTf .dropdown-item.active,
.cid-rmc17VkjTf .dropdown-item:active {
  color: initial;
}
.cid-rmc17VkjTf .widget-title,
.cid-rmc17VkjTf .widget-icon {
  color: #e9e9e9;
}
.cid-rmc17VkjTf .widget-text {
  color: #656565;
}
@media (max-width: 576px) {
  .cid-rmc17VkjTf .menu-logo {
    display: none;
  }
  .cid-rmc17VkjTf .navbar {
    padding: 0;
  }
  .cid-rmc17VkjTf .menu-bottom {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rmc17VkjTf button.navbar-toggler {
    -webkit-align-self: center;
    align-self: center;
  }
}
.cid-rG1FJPDJd5 .modal-body .close {
  background: #1b1b1b;
}
.cid-rG1FJPDJd5 .modal-body .close span {
  font-style: normal;
}
.cid-rG1FJPDJd5 .carousel-inner > .active,
.cid-rG1FJPDJd5 .carousel-inner > .next,
.cid-rG1FJPDJd5 .carousel-inner > .prev {
  display: table;
}
.cid-rG1FJPDJd5 .carousel-control .icon-next,
.cid-rG1FJPDJd5 .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-rG1FJPDJd5 .carousel-control:hover {
  background: #cc9459;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rG1FJPDJd5 .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-rG1FJPDJd5 .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-rG1FJPDJd5 .boxed-slider > div {
  position: relative;
}
.cid-rG1FJPDJd5 .container img {
  width: 100%;
}
.cid-rG1FJPDJd5 .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-rG1FJPDJd5 .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-rG1FJPDJd5 .mbr-table-cell {
  padding: 0;
}
.cid-rG1FJPDJd5 .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-rG1FJPDJd5 .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-rG1FJPDJd5 .mbr-overlay {
  z-index: 1;
}
.cid-rG1FJPDJd5 .container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-rG1FJPDJd5 .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 576px) {
  .cid-rG1FJPDJd5 .carousel-item .container {
    width: 100%;
  }
}
.cid-rG1FJPDJd5 .carousel-item-next.carousel-item-left,
.cid-rG1FJPDJd5 .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-rG1FJPDJd5 .active.carousel-item-right,
.cid-rG1FJPDJd5 .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-rG1FJPDJd5 .active.carousel-item-left,
.cid-rG1FJPDJd5 .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-rG1FJPDJd5 .mbr-slider .carousel-control {
  top: 50%;
  margin-top: -1.9rem;
  width: 60px;
  height: 60px;
  font-size: 25px;
  border: 2px solid #fff;
  border-radius: 0 !important;
  transition: all .3s;
  z-index: 11;
}
.cid-rG1FJPDJd5 .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
}
.cid-rG1FJPDJd5 .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
}
@media (max-width: 767px) {
  .cid-rG1FJPDJd5 .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-rG1FJPDJd5 .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-rG1FJPDJd5 .mbr-slider .carousel-indicators li {
  max-width: 20px;
  width: 20px;
  height: 20px;
  max-height: 20px;
  margin: 3px;
  background-color: #cc9459;
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-rG1FJPDJd5 .mbr-slider .carousel-indicators li.active,
.cid-rG1FJPDJd5 .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-rG1FJPDJd5 .mbr-slider .carousel-indicators li::after,
.cid-rG1FJPDJd5 .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-rG1FJPDJd5 .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-rG1FJPDJd5 .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-rG1FJPDJd5 .mbr-slider > .container img {
  width: 100%;
}
.cid-rG1FJPDJd5 .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-rG1FJPDJd5 .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-rG1FJPDJd5 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-rG1FJPDJd5 .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-rG1FJPDJd5 .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-rG1FJPDJd5 .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-rG1FJPDJd5 .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-rG1FJPDJd5 .full-screen .slider-fullscreen-image.active {
  display: flex;
}
.cid-rG1FJPDJd5 .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-rG1FJPDJd5 .full-screen .carousel-item .container.container-slide {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-rG1FJPDJd5 .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-rG1FJPDJd5 .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-rG1FJPDJd5 .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-teFQv47Aly {
  padding-top: 15px;
  padding-bottom: 30px;
  z-index: 1;
  background-color: #cc9459;
}
.cid-teFQv47Aly .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-teFQv47Aly .mbr-text {
  margin: 0;
}
.cid-teFQv47Aly .check-in-input,
.cid-teFQv47Aly .check-out-input,
.cid-teFQv47Aly .guests .date-col span {
  cursor: pointer;
}
.cid-teFQv47Aly .input-wrap {
  background: #fcfcfc;
}
.cid-teFQv47Aly .booking-datepicker {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-teFQv47Aly .booking-datepicker .mbr-form .input-wrap {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
}
.cid-teFQv47Aly .booking-datepicker .mbr-form .input-wrap input {
  border: none;
  border-radius: 0;
  position: absolute;
  background: transparent;
  z-index: 2;
  left: -90px;
  top: 25%;
  height: 50%;
  width: calc(100% + 90px);
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.cid-teFQv47Aly .booking-datepicker .mbr-form .input-wrap input.guests-input {
  z-index: 0;
}
.cid-teFQv47Aly .booking-datepicker .mbr-form .input-wrap input::-webkit-input-placeholder {
  color: transparent;
}
.cid-teFQv47Aly .booking-datepicker .mbr-form .input-wrap input::-moz-placeholder {
  color: transparent;
}
.cid-teFQv47Aly .booking-datepicker .mbr-form .input-wrap input:-moz-placeholder {
  color: transparent;
}
.cid-teFQv47Aly .booking-datepicker .mbr-form .input-wrap input:-ms-input-placeholder {
  color: transparent;
}
.cid-teFQv47Aly .booking-datepicker .mbr-form .input-wrap input:focus {
  box-shadow: none;
}
.cid-teFQv47Aly .booking-datepicker .mbr-form .input-wrap .label {
  z-index: 1;
  color: #000000;
}
.cid-teFQv47Aly .booking-datepicker .mbr-form .input-wrap .date-row {
  display: inline-flex;
  color: #000000;
  z-index: 1;
}
.cid-teFQv47Aly .booking-datepicker .mbr-form .input-wrap .date-row .day,
.cid-teFQv47Aly .booking-datepicker .mbr-form .input-wrap .date-row .guests-count {
  margin-bottom: 0;
  margin-right: 1rem;
}
.cid-teFQv47Aly .booking-datepicker .mbr-form .input-wrap .date-row .date-col {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-teFQv47Aly .booking-datepicker .mbr-form .input-wrap .date-row .date-col span:first-child {
  margin-bottom: 1rem;
}
.cid-teFQv47Aly .booking-datepicker .mbr-form .mbr-section-btn {
  display: flex;
}
.cid-teFQv47Aly .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn {
  display: flex;
  width: 100%;
}
.cid-teFQv47Aly .booking-datepicker .mbr-form .mbr-section-btn .input-group-btn .btn {
  width: 100%;
  margin: 0;
  line-height: 18px;
  font-weight: 300;
}
.cid-teFQv47Aly .email input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 15px;
}
.cid-teFQv47Aly .email input::-webkit-input-placeholder {
  font-weight: 200;
}
.cid-teFQv47Aly .datepicker {
  background-color: #ffffff;
  color: #000000;
}
.cid-teFQv47Aly .datepicker .active.day {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.cid-teFQv47Aly .datepicker:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-teFQv47Aly .mbr-section-btn {
    justify-content: center;
    padding: 0.5rem 0 0 0;
    margin: 0;
    order: 1;
  }
  .cid-teFQv47Aly .mbr-section-btn .input-group-btn {
    width: 100%;
  }
  .cid-teFQv47Aly .mbr-section-btn .input-group-btn .btn {
    width: 100%;
    padding: 1rem;
  }
  .cid-teFQv47Aly .input-wrap {
    margin-bottom: 0.5rem;
  }
  .cid-teFQv47Aly .email input {
    border-radius: 0;
  }
}
@media (min-width: 768px) {
  .cid-teFQv47Aly .booking-datepicker input:not(.guests-input):not([name='email']) {
    border-right: 1px solid #cccccc !important;
  }
}
@media (max-width: 991px) {
  .cid-teFQv47Aly .media-container-column {
    text-align: center;
  }
  .cid-teFQv47Aly .booking-datepicker {
    padding-top: 2rem;
  }
}
@media (max-width: 575px) {
  .cid-teFQv47Aly .datepicker {
    left: 10% !important;
  }
}
.cid-rG1HX3YgX1 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rG1HX3YgX1 .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-rG1HX3YgX1 .mbr-text {
  margin: 0;
}
@media (max-width: 767px) {
  .cid-rG1HX3YgX1 .title {
    width: 100% !important;
  }
}
.cid-rG1HX3YgX1 .mbr-text,
.cid-rG1HX3YgX1 .mbr-section-btn DIV {
  text-align: left;
}
.cid-rG1HX3YgX1 .mbr-section-title {
  color: #cc9459;
}
.cid-rG1HX3YgX1 .mbr-text,
.cid-rG1HX3YgX1 .mbr-section-btn {
  color: #000000;
}
.cid-rmn33Lviw9 {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #fcfcfc;
}
.cid-rmn33Lviw9 .card .card-img {
  padding-bottom: 1.5rem;
}
.cid-rmn33Lviw9 .card .card-img span {
  color: #878787;
  font-size: 45px;
}
.cid-rmn33Lviw9 .card .card-title {
  letter-spacing: 1px;
}
.cid-rmn33Lviw9 .card-title {
  margin: 0;
}
.cid-rmn33Lviw9 .mbr-text,
.cid-rmn33Lviw9 .card-title {
  color: #878787;
}
.cid-rmn33Lviw9 .card-title,
.cid-rmn33Lviw9 .card-img {
  color: #000000;
}
.cid-s3ownKyY63 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #cc9459;
}
.cid-s3ownKyY63 P {
  color: #767676;
}
.cid-s3ownKyY63 H5 {
  color: #ffffff;
  text-align: left;
}
.cid-s3ownKyY63 h5 {
  display: inline;
  text-decoration: none;
  width: fit-content;
  background-image: linear-gradient(transparent calc(98%), currentColor 1px);
  margin-bottom: 1.5rem;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 0% 100%;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cid-s3ownKyY63 h5:hover {
  background-size: 100% 100%;
}
.cid-s3ownKyY63 .col-md-4 {
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.cid-s3ownKyY63 H4 {
  text-align: left;
  color: #ffffff;
}
.cid-s3osIHxfIn {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
