@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap);



body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'barbaro.roman';
  font-size: 2.5rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 4rem;
}
.display-2 {
  font-family: 'barbaro.roman';
  font-size: 1.6rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 2.56rem;
}
.display-4 {
  font-family: 'Libre Baskerville', serif;
  font-size: 0.7rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.12rem;
}
.display-5 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.2rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Libre Baskerville', serif;
  font-size: 0.95rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.52rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.56rem;
    font-size: calc( 0.895rem + (0.7 - 0.895) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.895rem + (0.7 - 0.895) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #dc9750 !important;
}
.bg-success {
  background-color: #000000 !important;
}
.bg-info {
  background-color: #979797 !important;
}
.bg-warning {
  background-color: #f3f1ed !important;
}
.bg-danger {
  background-color: #43403b !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #dc9750 !important;
  border-color: #dc9750 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #ba7125 !important;
  border-color: #ba7125 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ba7125 !important;
  border-color: #ba7125 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #494949 !important;
  border-color: #494949 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-info,
.btn-info:active {
  background-color: #979797 !important;
  border-color: #979797 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #717171 !important;
  border-color: #717171 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #717171 !important;
  border-color: #717171 !important;
}
.btn-success,
.btn-success:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #f3f1ed !important;
  border-color: #f3f1ed !important;
  color: #87785a !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #87785a !important;
  background-color: #d4cdbf !important;
  border-color: #d4cdbf !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #87785a !important;
  background-color: #d4cdbf !important;
  border-color: #d4cdbf !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #43403b !important;
  border-color: #43403b !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #1a1917 !important;
  border-color: #1a1917 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1a1917 !important;
  border-color: #1a1917 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #a56421;
  color: #a56421;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #dc9750;
  border-color: #dc9750;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #dc9750 !important;
  border-color: #dc9750 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #161616;
  color: #161616;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #494949;
  border-color: #494949;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #494949 !important;
  border-color: #494949 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #646464;
  color: #646464;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #979797;
  border-color: #979797;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #979797 !important;
  border-color: #979797 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #cac1b0;
  color: #cac1b0;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #87785a;
  background-color: #f3f1ed;
  border-color: #f3f1ed;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #87785a !important;
  background-color: #f3f1ed !important;
  border-color: #f3f1ed !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #0d0c0b;
  color: #0d0c0b;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #43403b;
  border-color: #43403b;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #43403b !important;
  border-color: #43403b !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #dc9750 !important;
}
.text-secondary {
  color: #494949 !important;
}
.text-success {
  color: #000000 !important;
}
.text-info {
  color: #979797 !important;
}
.text-warning {
  color: #f3f1ed !important;
}
.text-danger {
  color: #43403b !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #a56421 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #161616 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #646464 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #cac1b0 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #0d0c0b !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #979797;
}
.alert-warning {
  background-color: #f3f1ed;
}
.alert-danger {
  background-color: #43403b;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #dc9750;
  border-color: #dc9750;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #dc9750;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fefcfa;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d7d7d7;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b3ad;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Libre Baskerville', serif;
  font-size: 0.95rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.52rem;
}
blockquote {
  border-color: #dc9750;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #dc9750;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #dc9750;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #dc9750;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #dc9750;
  border-bottom-color: #dc9750;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #dc9750 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #494949 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23dc9750' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-s8Ad8u7qyq {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-s8Ad8u7qyq .mbr-iconfont {
  font-size: 34px;
  transition: color .3s;
}
.cid-s8Ad8u7qyq .mbr-section-title {
  margin: 0;
}
.cid-s8Ad8u7qyq .card-img {
  text-align: center;
}
.cid-s8Ad8u7qyq .row-item {
  padding-bottom: 2rem;
  padding: 5rem 2rem;
}
.cid-s8Ad8u7qyq .row-item.card1 {
  background: #f3f1ed;
}
.cid-s8Ad8u7qyq .row-item.card2 {
  background: #68645e;
}
.cid-s8Ad8u7qyq .row-item.card3 {
  background: #43403b;
}
.cid-s8Ad8u7qyq .row-item.card4 {
  background: #2bdc9d;
}
.cid-s8Ad8u7qyq .mbr-text {
  color: #efefef;
}
@media (max-width: 767px) {
  .cid-s8Ad8u7qyq .card-img,
  .cid-s8Ad8u7qyq .mbr-text,
  .cid-s8Ad8u7qyq .mbr-card-title,
  .cid-s8Ad8u7qyq .mbr-section-subtitle,
  .cid-s8Ad8u7qyq .mbr-section-title,
  .cid-s8Ad8u7qyq .underline {
    text-align: center !important;
  }
}
.cid-s8Ad8u7qyq .card2 > .mbr-card-title,
.cid-s8Ad8u7qyq .card2 > .card-img {
  text-align: left;
  color: #ca9b5c;
}
.cid-s8Ad8u7qyq .card1 > .mbr-card-title,
.cid-s8Ad8u7qyq .card1 > .card-img {
  text-align: left;
  color: #232323;
}
.cid-s8Ad8u7qyq .card3 > .mbr-card-title,
.cid-s8Ad8u7qyq .card3 > .card-img {
  text-align: left;
  color: #ca9b5c;
}
.cid-s8Ad8u7qyq .card3 > .mbr-text,
.cid-s8Ad8u7qyq .card3 > .mbr-section-btn {
  text-align: left;
}
.cid-s8Ad8u7qyq .card2 > .mbr-text,
.cid-s8Ad8u7qyq .card2 > .mbr-section-btn {
  text-align: left;
}
.cid-s8Ad8u7qyq .card1 > .mbr-text,
.cid-s8Ad8u7qyq .card1 > .mbr-section-btn {
  text-align: left;
  color: #494949;
}
.cid-s8Ad8u7qyq .card3 > .mbr-card-title,
.cid-s8Ad8u7qyq .card3 > .card-img {
  color: #dc9750;
}
.cid-s8Ad8u7qyq .card2 > .mbr-card-title,
.cid-s8Ad8u7qyq .card2 > .card-img {
  color: #dc9750;
}
.cid-s8BlQGBbuA {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-s8BlQGBbuA .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-s8BlQGBbuA .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-s8BlQGBbuA .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-s8BlQGBbuA .mbr-text {
    text-align: center;
  }
}
.cid-s8BlQGBbuA H1 {
  color: #000000;
}
.cid-s8BlQGBbuA .mbr-text,
.cid-s8BlQGBbuA .mbr-section-btn {
  color: #979797;
}
.cid-s8BlQGBbuA H3 {
  color: #979797;
}
.cid-s8FpplaRW8 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f3f1ed;
}
.cid-s8FpplaRW8 .card .card-img {
  overflow: hidden;
}
.cid-s8FpplaRW8 .card .card-img img {
  transition: all .5s;
}
.cid-s8FpplaRW8 .card .card-img:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-s8FpplaRW8 .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-s8FpplaRW8 .card {
  display: block;
  height: 100%;
}
.cid-s8FpplaRW8 .card .card-wrapper {
  height: 100%;
}
.cid-s8FpplaRW8 .card .card-wrapper .card-img {
  border-radius: 0;
}
.cid-s8FpplaRW8 .card .card-box {
  background: #ffffff;
  padding: 2rem;
}
.cid-s8FpplaRW8 .card .card-box .card-title {
  margin: 0;
}
.cid-s8FpplaRW8 .card .info-wrapper {
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s8FpplaRW8 .card .info-wrapper .mbr-iconfont {
  padding-right: .5rem;
  font-size: 20px;
}
.cid-s8FpplaRW8 .card .info-wrapper .info-text {
  display: inline-block;
  padding-right: 1rem;
  margin: 0;
}
.cid-s8FpplaRW8 .card .card-btn .btn {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.cid-s8FpplaRW8 .card .card-footer {
  background: #ffffff;
  margin-top: 1rem;
  padding: 0;
  padding-top: 1rem;
  display: inline-flex;
  width: 100%;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s8FpplaRW8 .card .card-footer .icons-list {
  margin: 0;
}
.cid-s8FpplaRW8 .card .card-footer .icons-list li {
  margin-right: 1rem;
}
.cid-s8FpplaRW8 .card .card-footer .icons-list li .mbr-iconfont {
  font-size: 25px;
  color: #767676;
}
.cid-s8FpplaRW8 .card .card-footer .link .link-text {
  display: inline-block;
}
.cid-s8FpplaRW8 .card .card-footer .link .mbr-iconfont {
  font-size: 12px;
}
.cid-s8FpplaRW8 .card-box {
  border-style: solid;
  border-color: #efefef;
  border-width: 0 1px 1px 1px;
}
.cid-s8FpplaRW8 .card-footer {
  border-top: 1px solid #efefef;
}
.cid-s8FpplaRW8 .mbri-arrow-next {
  color: #709faf;
}
@media (max-width: 767px) {
  .cid-s8FpplaRW8 .card:not(:last-child) {
    padding-bottom: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-s8FpplaRW8 .card:not(:last-child) {
    padding-bottom: 2rem;
  }
}
.cid-s8FpplaRW8 .card-title,
.cid-s8FpplaRW8 .card-info {
  text-align: center;
}
.cid-s8FpplaRW8 .card-text,
.cid-s8FpplaRW8 .card-btn {
  text-align: center;
}
.cid-s8BqYfDAJ4 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-s8BqYfDAJ4 h4 {
  letter-spacing: -0.5px;
  color: #494949;
  font-weight: 800;
}
.cid-s8BqYfDAJ4 p {
  color: #979797;
  line-height: 28px;
  letter-spacing: 0;
  font-weight: 400;
}
.cid-s8BqYfDAJ4 .mbr-section-title {
  color: #000000;
  margin-bottom: 20px;
  font-weight: 700;
}
.cid-s8BqYfDAJ4 .mbr-section-title.display-2 {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: -0.5px;
}
.cid-s8BqYfDAJ4 .mbr-section-subtitle {
  color: #dc9750;
  margin-bottom: 10px;
  font-weight: 800;
}
.cid-s8BqYfDAJ4 .mbr-section-subtitle.display-4 {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 2px;
}
.cid-s8BqYfDAJ4 .card-box {
  padding-top: 35px;
}
.cid-s8BqYfDAJ4 .card-box .card-title {
  text-align: center;
  color: #494949;
}
.cid-s8BqYfDAJ4 .card-box .card-title.display-7 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.5px;
  font-weight: 800;
}
.cid-s8BqYfDAJ4 .card-box p {
  text-align: center;
  color: #979797;
  font-weight: 400;
}
.cid-s8BqYfDAJ4 .card-box p.display-4 {
  font-size: 16px;
  line-height: 1.5;
}
.cid-s8BqYfDAJ4 .card-wrapper {
  height: 100%;
  text-align: center;
}
.cid-s8BqYfDAJ4 .card-img {
  display: inline-block;
  position: relative;
  width: inherit !important;
}
.cid-s8BqYfDAJ4 .card-img img {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}
.cid-s8BqYfDAJ4 .card-img .card-icon {
  background: #4f87fb;
  color: #fff;
  height: 46px;
  width: 46px;
  font-size: 14px;
  line-height: 46px;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  padding: 0.5rem;
  top: 0;
  right: 0px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}
.cid-s8BqYfDAJ4 .card-img .card-icon span {
  z-index: 99;
}
.cid-s8BqYfDAJ4 .card-img .card-icon::before {
  width: 56px;
  height: 56px;
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  background-color: #4f87fb;
  opacity: 0.5;
  z-index: 1;
}
.cid-s8BqYfDAJ4 .card-box .card-title {
  color: #000000;
}
.cid-s8Br3anx7b {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #f3f1ed;
}
.cid-s8Br3anx7b .wrapping {
  background-color: #ffffff;
  padding: 3rem;
  justify-content: space-between;
  align-items: center;
}
.cid-s8Br3anx7b .wrapping .mbr-section-title {
  color: #ffffff;
}
.cid-s8Br3anx7b .wrapping .mbr-section-title.display-2 {
  line-height: 1.375;
}
.cid-s8Br3anx7b .wrapping .mbr-text {
  color: #a1a1a1;
  margin-bottom: 0;
}
.cid-s8Br3anx7b .wrapping .btn.btn-md {
  font-weight: 500;
  line-height: 1.5;
}
.cid-s8Br3anx7b .wrapping .text-wrap .mbr-section-title,
.cid-s8Br3anx7b .icon-wrap,
.cid-s8Br3anx7b .mbr-section-btn {
  color: #000000;
}
.cid-s8Br3anx7b .wrapping .text-wrap .mbr-text,
.cid-s8Br3anx7b .mbr-section-btn {
  color: #a1a1a1;
}
.cid-s8BtBX6D8G {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #262626;
}
.cid-s8BtBX6D8G a:link {
  text-decoration: none;
}
.cid-s8BtBX6D8G .icon-transition span {
  padding: 0.1rem 0.9rem;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  width: 3em;
  background: #dc9750 none repeat scroll 0 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-s8BtBX6D8G .icon-transition span:hover {
  background-color: #a1a1a1;
}
.cid-s8BtBX6D8G .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-s8BtBX6D8G .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-s8BtBX6D8G .foot-menu {
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 0;
  margin-bottom: 8px;
  padding: .6em 0;
}
.cid-s8BtBX6D8G .foot-menu > li {
  font-size: 14px;
  padding: 0;
  display: inline-block;
}
.cid-s8BtBX6D8G .foot-menu > li .rhombus {
  width: 0;
  height: 0;
  right: 4px;
  border: 4px solid transparent;
  border-bottom-color: #444444;
  position: relative;
  top: -19px;
}
.cid-s8BtBX6D8G .foot-menu > li .rhombus::after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  left: -4px;
  top: 4px;
  border: 4px solid transparent;
  border-top-color: #444444;
}
.cid-s8BtBX6D8G .foot-menu li a {
  font-family: 'OpenSans', sans-serif;
  display: inline-block;
  letter-spacing: 2px;
  padding: 0 10px;
}
.cid-s8BtBX6D8G .plan-title,
.cid-s8BtBX6D8G .text-letter {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-weight: 600;
}
.cid-s8BtBX6D8G .plan-title {
  color: #444444;
}
@media (max-width: 767px) {
  .cid-s8BtBX6D8G .foot-menu {
    padding: 15px 1rem;
  }
}
.cid-s8BtBX6D8G .mbr-section-title span {
  color: #ffbc00;
}
.cid-s8BtBX6D8G .mbr-section-title {
  color: #dc9750;
}
.cid-s8BtBX6D8G .mbr-text {
  color: #ffffff;
}
.cid-s8EQYym30Z .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden ;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s8EQYym30Z .display-2 {
  font-size: 2rem;
}
.cid-s8EQYym30Z .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
  padding-bottom: 0.2em;
}
@media (max-width: 991px) {
  .cid-s8EQYym30Z .icons-menu {
    padding: 1rem 0!important;
  }
  .cid-s8EQYym30Z .dropdown-item {
    line-height: 1.5;
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
    border-bottom-right-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    border-bottom-left-radius: 0rem !important;
    border-top-left-radius: 0rem !important;
  }
  .cid-s8EQYym30Z .dropdown-item:hover {
    color: #dc9750 !important;
  }
  .cid-s8EQYym30Z .navbar-collapse {
    justify-content: space-between;
    z-index: 1;
    padding-bottom: 10px;
  }
  .cid-s8EQYym30Z.collapsed .nav-item .nav-link::before {
    display: none;
  }
  .cid-s8EQYym30Z.collapsed.opened .dropdown-menu {
    top: 0;
  }
  .cid-s8EQYym30Z.collapsed .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s8EQYym30Z.collapsed .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s8EQYym30Z.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
  .cid-s8EQYym30Z.collapsed ul.navbar-nav li {
    margin: auto;
  }
  .cid-s8EQYym30Z.collapsed .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-s8EQYym30Z.collapsed .icons-menu {
    margin: auto;
  }
  .cid-s8EQYym30Z .navbar .topLineDivSettings {
    display: none;
  }
  .cid-s8EQYym30Z .navbar.navbar-short {
    background: #ffffff !important;
    min-height: 10px !important;
  }
  .cid-s8EQYym30Z .navbar.navbar-short .topLineDivSettings {
    display: none;
  }
  .cid-s8EQYym30Z .navbar.navbar-short .navbar-logo img {
    height: 3.0rem !important;
  }
  .cid-s8EQYym30Z .navbar .navbar-brand {
    padding-left: 10px;
  }
  .cid-s8EQYym30Z .dropdown-menu {
    padding-top: 0;
    min-width: 5rem;
  }
}
@media (max-width: 991px) and (max-width: 991px) {
  .cid-s8EQYym30Z .nav-item .nav-link::before {
    display: none;
  }
  .cid-s8EQYym30Z.opened .dropdown-menu {
    top: 0;
  }
  .cid-s8EQYym30Z .dropdown-menu {
    top: 0;
  }
  .cid-s8EQYym30Z .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s8EQYym30Z .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s8EQYym30Z .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: 0.30em solid transparent;
    border-left: 0.30em solid transparent;
  }
  .cid-s8EQYym30Z .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s8EQYym30Z ul.navbar-nav li {
    margin: auto;
  }
  .cid-s8EQYym30Z .dropdown-menu .dropdown-item {
    padding-top: 0.5rem !important;
    padding-bottom: .25rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    background: #efefef;
    text-align: center;
  }
  .cid-s8EQYym30Z .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-s8EQYym30Z .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-s8EQYym30Z .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s8EQYym30Z .container {
  width: 100%;
  max-width: 1800px;
  display: flex;
  margin: auto;
}
.cid-s8EQYym30Z .navbar {
  min-height: 77px;
  -webkit-flex-direction: column;
  flex-direction: column;
  transition: all .3s;
  background: #ffffff;
}
@media (min-width: 992px) {
  .cid-s8EQYym30Z .navbar.navbar-short {
    background: #ffffff !important;
    min-height: 10px;
  }
  .cid-s8EQYym30Z .navbar.navbar-short .topLineDivSettings {
    display: none;
  }
  .cid-s8EQYym30Z .navbar.navbar-short .navbar-logo img {
    padding-top: 0;
    height: 2.5rem !important;
  }
  .cid-s8EQYym30Z .navbar.navbar-short .navbar-brand {
    padding-top: 0.5rem;
  }
  .cid-s8EQYym30Z .navbar .dropdown-item {
    padding-top: .2rem;
    padding-right: 1.5rem;
    padding-bottom: 0.2rem;
    padding-left: 1.0rem;
    border-bottom: 0px solid #b3b3b3;
    background: #ffffff;
    border-bottom-width: 0.25px;
    border-color: #000000;
    border-bottom-right-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    border-bottom-left-radius: 0rem !important;
    border-top-left-radius: 0rem !important;
  }
  .cid-s8EQYym30Z .navbar .dropdown-item:hover {
    color: #dc9750 !important;
    background: #fcfcfc !important;
  }
}
.cid-s8EQYym30Z .navbar.opened {
  transition: all .3s;
}
.cid-s8EQYym30Z .nav-link {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: auto;
  transition: all 0.3s;
}
.cid-s8EQYym30Z .nav-link:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 0;
  transition: all 0.4s ease-in-out;
  background: currentColor;
  bottom: 0px;
  left: auto;
  right: 0;
}
.cid-s8EQYym30Z .nav-link:hover {
  color: #dc9750 !important;
  background: none !important;
}
.cid-s8EQYym30Z .nav-link:hover:before {
  color: #ca9b5c !important;
  width: 0;
  height: 2px;
  right: auto;
  left: 0;
  bottom: -10px;
}
.cid-s8EQYym30Z .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-s8EQYym30Z .icons-menu {
    min-width: 120px;
    width: 120px;
  }
}
.cid-s8EQYym30Z .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media (min-width: 992px) {
  .cid-s8EQYym30Z .dropdown-menu {
    min-width: 5rem;
    padding-top: 1.5rem !important;
  }
}
@media (max-width: 991px) {
  .cid-s8EQYym30Z .dropdown-menu {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}
@media (min-width: 992px) {
  .cid-s8EQYym30Z .nav-dropdown .link {
    margin-right: 2em !important;
    padding: 0.3em 0.3em !important;
    margin-top: .2em !important;
  }
}
@media (max-width: 991px) {
  .cid-s8EQYym30Z .nav-dropdown .link.dropdown-toggle::after {
    margin-left: .3em;
    margin-top: 0rem;
  }
}
@media (min-width: 992px) {
  .cid-s8EQYym30Z .nav-dropdown .link.dropdown-toggle::after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
  }
}
.cid-s8EQYym30Z .nav-dropdown .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}
.cid-s8EQYym30Z .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s8EQYym30Z .navbar-caption {
  padding-right: 4rem;
}
.cid-s8EQYym30Z .navbar-nav {
  width: 100%;
  display: flex;
  -webkit-justify-content: flex;
  justify-content: flex;
}
@media (max-width: 991px) {
  .cid-s8EQYym30Z .dropdown-menu,
  .cid-s8EQYym30Z .navbar.opened {
    background: #ffffff !important;
  }
}
@media (min-width: 992px) {
  .cid-s8EQYym30Z .dropdown-menu,
  .cid-s8EQYym30Z .navbar.opened {
    background: #ffffff !important;
  }
}
.cid-s8EQYym30Z .nav-item:focus,
.cid-s8EQYym30Z .nav-link:focus {
  outline: none;
}
.cid-s8EQYym30Z .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
@media (max-width: 991px) {
  .cid-s8EQYym30Z .dropdown .dropdown-menu .dropdown-item::after {
    right: 0.0rem;
  }
}
@media (min-width: 992px) {
  .cid-s8EQYym30Z .dropdown .dropdown-menu .dropdown-item::after {
    right: 0.5rem;
  }
}
.cid-s8EQYym30Z .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: 0rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s8EQYym30Z .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.cid-s8EQYym30Z .collapsed .navbar-buttons {
  text-align: center;
  width: auto;
  padding-bottom: 1rem;
}
.cid-s8EQYym30Z .collapsed .icons-menu {
  text-align: center;
  width: auto;
}
.cid-s8EQYym30Z .collapsed .dropdown-menu {
  top: 0;
  min-width: 2rem !important;
}
.cid-s8EQYym30Z .collapsed .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
.cid-s8EQYym30Z .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s8EQYym30Z .collapsed .nav-dropdown .dropdown-item:after {
  right: auto;
}
.cid-s8EQYym30Z .collapsed .dropdown .dropdown-menu {
  background: none;
}
.cid-s8EQYym30Z .collapsed .dropdown .dropdown-menu .dropdown-item {
  border-bottom-right-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
  border-bottom-left-radius: 0rem !important;
  border-top-left-radius: 0rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: .25rem !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  background: #efefef;
  text-align: center;
  line-height: 1;
  transition: none;
}
.cid-s8EQYym30Z .collapsed .dropdown .dropdown-menu .dropdown-item:hover {
  color: #dc9750 !important;
}
.cid-s8EQYym30Z .collapsed .dropdown .dropdown-menu .dropdown-item .navbar.navbar-short .topLineDivSettings {
  display: none;
}
.cid-s8EQYym30Z .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}
.cid-s8EQYym30Z .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s8EQYym30Z .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s8EQYym30Z .dropdown-item.active,
.cid-s8EQYym30Z .dropdown-item:active {
  background-color: transparent;
}
.cid-s8EQYym30Z .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s8EQYym30Z .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s8EQYym30Z .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s8EQYym30Z .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: none !important;
}
.cid-s8EQYym30Z .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s8EQYym30Z .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s8EQYym30Z ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 991px) {
  .cid-s8EQYym30Z .navbar-buttons {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .cid-s8EQYym30Z .navbar-buttons {
    text-align: right;
    min-width: 150px;
    width: 150px;
  }
}
.cid-s8EQYym30Z button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s8EQYym30Z button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-s8EQYym30Z button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s8EQYym30Z button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s8EQYym30Z button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s8EQYym30Z button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s8EQYym30Z nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s8EQYym30Z nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s8EQYym30Z nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s8EQYym30Z nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s8EQYym30Z .navbar-dropdown {
  padding: .0rem 0rem;
  position: fixed;
}
.cid-s8EQYym30Z a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s8EQYym30Z .navbar-brand span {
  display: inline-block;
}
.cid-s8EQYym30Z .navbar-brand a {
  font-weight: 500 ;
}
.cid-s8EQYym30Z .TopMenuUnderline {
  border-style: solid;
  border-top-width: 0;
  border-bottom-width: 0px;
  border-left-width: 0;
  border-right-width: 0;
  border-color: #dc9750;
}
.cid-s8EQYym30Z .btn-sm {
  white-space: nowrap;
  margin-top: 0.4rem;
  margin-bottom: 0.3rem;
  padding-top: 0.4rem;
  padding-right: 1rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  border-radius: 3px;
}
.cid-s8EQYym30Z .btn .mbr-iconfont,
.cid-s8EQYym30Z .btn.btn-sm .mbr-iconfont {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding-top: 0.2rem;
  padding-left: 0;
  padding-right: 0.5rem;
  padding-bottom: 0.2rem;
}
.cid-s8EQYym30Z .topLineDivSettings {
  z-index: 1;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  border-style: solid;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-color: #232323;
  border-top-color: #232323;
  background: #f52110 !important;
  background: linear-gradient(to right, #f52110, #f7ed4a, #3bc444, #e76229) !important;
  margin: 0;
  overflow: hidden;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #232323;
}
.cid-s8EQYym30Z .topLineTextSettings {
  margin: 0;
  background: none;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  line-height: 1;
}
.cid-s8EQYym30Z .navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
  margin-right: 10px;
}
